.homepage-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

/* === top-bar and children === */
.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px calc(100vw / 18);
  box-sizing: border-box;
}

.logo-text-wrapper {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 80px;
  height: auto;
}

.logo-text {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #344662;
  font-size: 18px;
  margin-left: 10px;
}

.logo-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img2 {
  width: 20px;
  height: auto;
}

.logo-text2 {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #344662;
  font-size: 18px;
}

.signout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fedf01;
  height: 40px;
  padding: 0 10px;
  border-radius: 0px;
}

.signout-wrapper:hover {
  border-radius: 0px;
  cursor: pointer;
  background-color: #ffba00;
  border: 2px solid black;
}

/* === separator === */
.seperator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #344662;
  height: 30px;
  width: 100%;
}

/* === account-container and children === */
.account-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.homepage-bg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.account-summary {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 250px;
  left: calc(100vw / 18);
}

.account-info {
  color: white;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.account-summary h2 {
  color: white;
  font-size: 14px;
  margin: 0;
}

/* === bottom-container and its children === */
.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

/* === bank-container and children === */
.bank-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.bank-text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: calc(100vw / 18);
  margin-top: 20px;
}

.bank-text h1 {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}

.black-underline {
  background-color: black;
  height: 2px;
  margin: 0;
  width: 50vw;
  margin-left: 2px;
}

.checking-account {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: calc(100vw / 18);
  margin-top: 10px;
  gap: 20px;
}

.account-balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  width: 49vw;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding: 0 10px;
}

.account-balance:hover {
  box-shadow: 0 0 12px 3px rgba(0, 106, 195, 0.5);
  cursor: pointer;
}

.account-balance h3 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #006ac3;
}

.account-balance p {
  font-size: 14px;
  margin: 0;
  color: #1f1f1f;
}

.open-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 5px;
}

.add-circle-logo {
  width: 25px;
  height: 25px;
}

.open-account > p:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.account-creation-container {
  position: fixed; /* Change from 'absolute' to 'fixed' to anchor it to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  background-color: #f2f6f6;
  border: 1px solid black;
  align-items: center;
  /* position: relative; */
}

.account-creation-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: center;
}

.red-x {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.account-creation-text {
  background-color: #ffff;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 0px;
  margin-bottom: 40px;
}

.account-creation-container .dropdown {
  width: 300px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0px;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.account-creation-container .transfer-submit {
  height: 40px;
  width: 300px;
  margin-left: 0px;
}

/* === transfers-container === */

.transfers-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-bottom: 10px;
  /* margin-top: calc(100vh / 13); */
  /* margin-left: calc(100vw / 13); */
  margin-left: 50px;
  margin-top: 20px;
  gap: 0px;
}

.transfers-title {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  align-self: center;
  padding-bottom: 10px;
}

.transfers {
  background-color: #f2f6f6;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.transfers-text {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 50;
  padding-top: 20px;
  padding-left: 20px;
}

.dropdown {
  font-size: 15px;
  margin: 20px;
  margin-bottom: 0px;
  padding: 15px;
  background-color: white;
  border-radius: 0px;
  border: 1px solid black;
}

.amount-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  width: 200px; /* adjust as needed */
  height: 50px;
  background-color: white;
  margin: 20px;
}

.currency-box {
  background-color: #f2f6f6;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #999;
  font-size: 16px;
  height: 50px;
}

.amount-input {
  border: none;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.transfer-submit {
  background-color: #006ac3;
  height: 60px;
  width: 360px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-text {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 100px;
  color: white;
}

.transfer-submit:hover {
  background-color: #015294;
  cursor: pointer;
}

.add-people-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-left: 30px;
  margin-top: 20px;
  gap: 0px;
}

.add-people-title {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  align-self: center;
  padding-bottom: 10px;
}

.add-people {
  background-color: #f2f6f6;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.people-email {
  margin: 20px;
  margin-top: 40px;
  height: 40px;
  font-size: 18px;
}

.people-email::placeholder {
  font-size: 17px; /* 👈 Increase this to make the placeholder text bigger */
}

.add-people-container .transfer-submit {
  width: 260px;
}

.withdraw-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  /* margin-left: 30px; */
  margin-top: 20px;
  gap: 0px;
}

.withdraw-title {
  font-family: "Frutiger", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  align-self: center;
  padding-bottom: 10px;
}

.withdraw {
  background-color: #f2f6f6;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
